<!doctype html>
<html>

<head>
    <!-- Metadados da página -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Inclusão do Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-400 flex items-center justify-center flex-col">
    <!-- Título principal da página -->
    <h1 class="text-5xl font-bold my-5">atividades</h1>

    <!-- Container principal -->
    <div id="containerAdicionarTurma" class="bg-white my-10 w-max py-5 px-10 border border-black rounded-lg">
        <!-- Botão para voltar -->
        <div id="botaoAtividades" class="flex justify-between px-10">
            <a href="/turmas" class="bg-red-300 hover:bg-red-800 px-2 py-1 rounded-lg text-white">
                Voltar
            </a>
        </div>
        <!-- Tabela de atividades -->
        <table class="mt-5">
            <thead>
                <tr>
                    <th class="border border-black p-2">Nome</th>
                    <th class="border border-black p-2">Descrição</th>
                    <th class="border border-black p-2">Data de Entrega</th>
                    <th class="border border-black p-2">Peso</th>
                    <th class="border border-black p-2">--</th>
                    <th class="border border-black p-2">--</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iteração sobre as atividades -->
                {% for atividade in atividades %}
                <tr>
                    <td class="border border-black p-2 text-center">{{atividade["nomeAtividade"]}}</td>
                    <td class="border border-black p-2 text-center">{{atividade["descricaoAtividade"]}}</td>
                    <td class="border border-black p-2 text-center">{{atividade["dataAtividade"]}}</td>
                    <td class="border border-black p-2 text-center">{{atividade["pesoAtividade"]}}</td>
                    <td class="border border-black p-2 text-center">
                        <a href="/editarAtividade/{{atividade['idAtividade']}}"
                            class="bg-yellow-200 hover:bg-yellow-800 px-2 py-1 rounded-lg text-white">
                            Editar
                        </a>
                    </td>
                    <td class="border border-black p-2 text-center">
                        <a href="/excluirAtividade/{{atividade['idAtividade']}}"
                            class="bg-red-300 hover:bg-red-800 px-2 py-1 rounded-lg text-white">
                            Excluir
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>